* {
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  height: 12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 3vh 0 0 0;
  border-bottom: #d0ad47 solid 10px;
  width: 100%;
}

.title {
  color: #d0ad47;
  font-size: 35px;
}

nav button {
  padding: 10px 10px;
  background-color: white;
  border-radius: 20%;
  margin: 0 2vh 0 2vh;
  font-size: 25px;
  color: black;
}

nav button:hover {
  background-color: #d0ad47;
  border-color: #d0ad47;
  padding: 10 50px;
  color: #f4f4f4;
}

main {
  height: 50vh;
  background-image: url("curry2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.coverfont {
  height: 35vh;
  background-color: rgb(0, 0, 0, 0.5);
  /* the last decimal represent the transparent filter */
  color: white;
  font-size: 40px;
  text-align: center;
  padding-top: 15vh;
}

aside {
  height: 30vh;
  border-top: #d0ad47 solid 10px;
}

.box {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 28vh;
  align-items: center;
}

.box1 button {
  height: 200px;
  width: 200px;
  background-image: url("chicken curry.jpg");
  background-size: cover;
  background-position: right;
  font-size: 20px;
  font-weight: 900;
  color: white;
}

.box1 button p {
  opacity: 0;
}

.box1 button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("chicken curry.jpg");
}

button p:hover {
  opacity: 1;
}

.box2 button {
  height: 200px;
  width: 200px;
  background-image: url("beef curry.jpg");
  background-size: cover;
  background-position: right;
  font-size: 20px;
  font-weight: 900;
  color: white;
}

.box2 button p {
  opacity: 0;
}

.box2 button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("beef curry.jpg");
}

button p:hover {
  opacity: 1;
}

.box3 button {
  height: 200px;
  width: 200px;
  background-image: url("mutton curry.jpg");
  background-size: cover;
  background-position: left;
  font-size: 20px;
  font-weight: 900;
  color: white;
}

.box3 button p {
  opacity: 0;
}

.box3 button:hover {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("mutton curry.jpg");
}

button p:hover {
  opacity: 1;
}

footer {
  height: 8vh;
  background-color: #d0ad47;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.item {
  font-size: 20px;
  font-weight: bold;
  color: #e0115f;
}
